<% layout('layouts/boilerplate') %>


<div class="d-flex justify-content-center align-items-center w-100 mt-5">
        <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
            <div class="card shadow">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1617824077840-0d7a0cd13448?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="post" class="validated-form mb-3" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" id="username" name="username" type="text" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" id="password" name="password" type="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success w-100">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
</div>

<!-- <div class="container d-flex justify-content-center align-items-center mt-5 col- 12">
    <div class="row">
        <div class="col-6">
            <div class="card shadow">
                <form action="/login" method="post" class="validated-form mb-3" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" id="username" name="username" type="text" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" id="password" name="password" type="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success ">Sign In</button>
                </form>
                <form action="/register" method="get" class="d-inline ml-3">
                    <button class="btn btn-success d-inline" >Sign Up</button>  
                </form>
            </div>
        </div>
        <div class="col-6">hi</div>
    </div>
</div> -->
    
